@{
    ViewBag.Title = "Home Page";
}
<div style="background-image:url(../Shared/img.jpg)">
<div class="jumbotron" style="background-color:aqua">
    <h1>Welcome to Our Application</h1>
    <p class="lead">Lets dive into a seamless booking experience</p>
    
</div>

<div class="row" >
    <div class="col-md-4">
        
        <p>
           
        </p>
        
    </div>
    <div class="col-md-4">
       
    </div>
    <div class="col-md-4">
       
    </div>
</div>
</div>